table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}



tr:nth-child(even) {
  background-color: #dddddd;
}


#tablecontainer{
  display: flex;
  
}

#actionrow{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#deletebtn,#editbtn,#createbtn{
  cursor: pointer;
}

table a{
  text-decoration: none;
  color: black;
}

#createtaskbtn{
  border: solid;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  border-color: transparent;
  background-color: green;
  box-shadow: 2px 2px 10px;
  padding: 3px 15px;
}




